{% load static %}
{% include 'header.html' %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb__area" data-background="{% static '/img/pages/banner.webp' %}">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="breadcrumb__area-content">
						<h1>About Us</h1>
						<ul>
							<li><a href="/index">Home</a><i class="fa-regular fa-angle-right"></i></li>
							<li>About Us</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>       
    <!-- Breadcrumb Area End -->
	<!-- Features Area Start -->
	<div class="features__one section-padding">
		<!-- <div class="container">
			<div class="row al-center features__one-bg" data-background="{% static '/img/shape/shape-10.png' %}">
				<div class="col-lg-5 lg-mb-25">
					<div class="features__one-left">
						<h4>Your Trusted Energy Partner</h4>
						<div class="features__one-left-client lg-jc-center dark_image">
							<img src="{% static '/img/avatar/user.png' %}" alt="client-image">
							<h6>12,000+ Customer Reviews</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="features__one-right lg-jc-center">
						<div class="features__one-right-item">
							<div class="features__one-right-item-icon">
								<i class="flaticon-profit"></i>
							</div>
							<div class="features__one-right-item-content">
								<h6>Financial Savings</h6>
								<p>From captivating logos that serve as Brand ambassadors to</p>
							</div>
						</div>
						<div class="features__one-right-item">
							<div class="features__one-right-item-icon">
								<i class="flaticon-best-customer-experience"></i>
							</div>
							<div class="features__one-right-item-content">
								<h6>Well Experienced</h6>
								<p>From captivating logos that serve as Brand ambassadors to</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
	<!-- Features Area End -->
    <!-- About Area Start -->
    <div class="about__four section-padding pt-0">
        <div class="container">
            <div class="row al-center">
                <div class="col-lg-6 lg-mb-25">
                    <div class="about__four-left">
                        <div class="about__four-left-image dark_image">
							<div class="about__four-left-image-one">
								<img src="{% static '/img/pages/factory3.jpg' %}" alt="about">
							</div>
                            <!-- <div class="about__four-left-image-two">
                                <img src="{% static '/img/pages/factory.jpg' %}" alt="about">
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__four-right">
                        <div class="about__four-right-title">
                            <span class="subtitle-one">About us</span>
                            <h2>At RTA, our customers and community are the key of everything we do.</h2>
                            <p>RecycleTech Australia (RTA) is a Queensland-based tyre recycling company specialising in
								truck and OTR tyre recycling, with a new site opening in Mackay. Our mission is to contribute
								to environmental sustainability by recycling tyres into valuable materials, thereby reducing
								landfill waste and promoting the reuse of resources. Our business model involves collecting
								used tyres from various sources, processing them through efficient recycling methods, and
								supplying the resulting products to manufacturers and consumers.</p>
							<p>Our primary customers include:</p>
                        </div>
                        <div class="about__four-right-list">
							<span><i class="fa-sharp fa-solid fa-circle-check"></i>Australian flexible pavement industry using recycled rubber for road paving</span>
							<span><i class="fa-sharp fa-solid fa-circle-check"></i>Australian manufacturers using recycled crumb rubber for building materials, such as
								tile grouts and adhesives</span>
							<span><i class="fa-sharp fa-solid fa-circle-check"></i>Australian companies using recycled rubber for flooring and sportsfields</span>
							<span><i class="fa-sharp fa-solid fa-circle-check"></i>Manufacturer using recycled steel in production processes for railway parts</span>
							<span><i class="fa-sharp fa-solid fa-circle-check"></i>Retail consumers purchasing recycled rubber products for landscaping</span>
						</div>
                        <!-- <a class="btn-one" href="/about">Explore now</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Area End -->
	<!-- Counter Area Start -->
	<!-- <div class="counter__two" data-background="{% static '/img/shape/shape-18.png' %}">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="counter__two-grid">
						<div class="counter__two-item">
							<i class="flaticon-project"></i>
							<h3><span class="counter">1.2</span><b>k</b></h3>
							<p>Project Success</p>
						</div>
						<div class="counter__two-item">
							<i class="flaticon-customer-review"></i>
							<h3><span class="counter">700</span><b>+</b></h3>
							<p>Clients Reviews</p>
						</div>
						<div class="counter__two-item">
							<i class="flaticon-rating"></i>
							<h3><span class="counter">175</span><b>+</b></h3>
							<p>Team Members</p>
						</div>
						<div class="counter__two-item">
							<i class="flaticon-trophy"></i>
							<h3><span class="counter">91</span><b>+</b></h3>
							<p>Winning Awards</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- Counter Area End -->
    <!-- Experience Area Start -->
    <!-- <div class="experience__area section-padding" data-background="{% static '/img/shape/shape-20.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 lg-mb-25">
                    <div class="experience__area-left">
                        <div class="experience__area-left-title">
                            <span class="subtitle-one">Our Experience</span>
                            <h2>Solar Team Experience area</h2>
                            <p>Business, or everyday living, imagine a world where solar success is not just an aspiration but a reality driven by the Rays of the sun. It's a vision where the</p>
                        </div>
						<div class="about__one-right-skill">
							<div class="skill__area-item">
								<div class="skill__area-item-content">
									<h6>Hybrid Energy</h6> 
									<span class="skill__area-item-count"><span class="counter">76</span>%</span>
								</div>
								<div class="skill__area-item-inner">
									<div class="skill__area-item-bar" data-width="76"></div>
								</div>
							</div>
							<div class="skill__area-item">
								<div class="skill__area-item-content">
									<h6>Solar Panel</h6> 
									<span class="skill__area-item-count"><span class="counter">85</span>%</span>
								</div>
								<div class="skill__area-item-inner">
									<div class="skill__area-item-bar" data-width="85"></div>
								</div>
							</div>
							<div class="skill__area-item">
								<div class="skill__area-item-content">
									<h6>Wind Turbines</h6> 
									<span class="skill__area-item-count"><span class="counter">60</span>%</span>
								</div>
								<div class="skill__area-item-inner">
									<div class="skill__area-item-bar" data-width="60"></div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="experience__area-image dark_image">
                        <img src="{% static '/img/pages/experience.jpg' %}" alt="experience">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Experience Area End -->
	<!-- Team Area Start -->
	<div class="team__one section-padding">
		<!-- <div class="container">
			<div class="row mb-35">
				<div class="col-xl-12">
					<div class="team__one-title t-center">
						<span class="subtitle-one">We're the best</span>
						<h2>Solar Design Engineer</h2>
					</div>
				</div>
			</div>
			<div class="row mb-35 dark_image">
				<div class="col-lg-3 col-md-6 lg-mb-35">
					<div class="team__one-item">
						<div class="team__one-item-image">
							<img src="{% static '/img/team/team-1.jpg' %}" alt="team">
							<div class="team__one-item-image-content">
								<div class="team__one-item-image-icon">
									<span><i class="fas fa-share-alt"></i></span>
									<div class="team__one-item-image-social">
										<ul>
											<li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
											<li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<h6><a href="team-details.html">Steve Rhodes</a></h6>
								<span>Senior Manager</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 md-mb-35">
					<div class="team__one-item">
						<div class="team__one-item-image">
							<img src="{% static '/img/team/team-2.jpg' %}" alt="team">
							<div class="team__one-item-image-content">
								<div class="team__one-item-image-icon">
									<span><i class="fas fa-share-alt"></i></span>
									<div class="team__one-item-image-social">
										<ul>
											<li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
											<li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<h6><a href="team-details.html">Derya Kurtulus</a></h6>
								<span>Heating Expert</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 md-mb-35">
					<div class="team__one-item">
						<div class="team__one-item-image">
							<img src="{% static '/img/team/team-3.jpg' %}" alt="team">
							<div class="team__one-item-image-content">
								<div class="team__one-item-image-icon">
									<span><i class="fas fa-share-alt"></i></span>
									<div class="team__one-item-image-social">
										<ul>
											<li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
											<li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<h6><a href="team-details.html">Lisa Thompson</a></h6>
								<span>Senior Engineer</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="team__one-item">
						<div class="team__one-item-image">
							<img src="{% static '/img/team/team-4.jpg' %}" alt="team">
							<div class="team__one-item-image-content">
								<div class="team__one-item-image-icon">
									<span><i class="fas fa-share-alt"></i></span>
									<div class="team__one-item-image-social">
										<ul>
											<li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
											<li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<h6><a href="team-details.html">David Martinez</a></h6>
								<span>Senior Technician</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
	<!-- Team Area End -->
	<!-- Consultation Area Start -->
	<div class="consultation__area section-padding pt-0">
		<img class="about__one-shape dark-n" src="{% static '/img/shape/shape-11.png' %}" alt="shape">
		<img class="about__one-shape light-n" src="{% static '/img/shape/shape-11-dark.png' %}" alt="shape">
		<div class="container">
			<div class="row al-center">
				<div class="col-lg-6 lg-mb-25">
					<div class="consultation__area-left t-right dark_image">
						<img src="{% static '/img/pages/factory.jpg' %}" alt="choose">
						<!-- <div class="content">
							<img src="{% static '/img/avatar/user.png' %}" alt="user">
							<p><span>25,000</span> Customer Satisfaction services</p>
						</div> -->
					</div>
				</div>
				<div class="col-lg-6">
					<div class="consultation__area-right">
						<div class="consultation__area-right-title">
							<span class="subtitle-three">Our factory</span>
							<h2>Our factory is under construction.</h2>
							<p>Our factory is under construction.</p>
						</div>
						<div class="consultation__area-right-list">
							<div class="row">
								<div class="col-sm-6">
									<div class="consultation__area-right-list-item sm-mb-25" data-background="{% static '/img/shape/shape-19.png' %}">
										<div class="consultation__area-right-list-item-icon">
											<i class="flaticon-targeting"></i>
										</div>
										<div class="consultation__area-right-list-item-content">
											<h6>Company Mission</h6>
											<p>contribute to environmental sustainability</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="consultation__area-right-list-item" data-background="{% static '/img/shape/shape-19.png' %}">
										<div class="consultation__area-right-list-item-icon">
											<i class="flaticon-achievement"></i>
										</div>
										<div class="consultation__area-right-list-item-content">
											<h6>Company Vision</h6>
											<p>Use recycle technology to make world better</p>
										</div>
									</div>
								</div>
							</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Consultation Area End -->
	{% include 'footer.html' %}