{% load static %}
{% include 'header.html' %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb__area" data-background="{% static '/img/pages/breadcrumb.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="breadcrumb__area-content">
						<h1>Contact Us</h1>
						<ul>
							<li><a href="index.html">Home</a><i class="fa-regular fa-angle-right"></i></li>
							<li>Contact Us</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>       
    <!-- Breadcrumb Area End -->
    <!-- Contact Area Start -->
	<div class="contact__one section-padding-three">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="contact__one-item">
						<i class="flaticon-telephone-call"></i>
						<span>Phone :</span>
						<h6><a href="tel:+123(254)65858">+123(254)658 58</a></h6>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="contact__one-item">
						<i class="flaticon-mail"></i>
						<span>Email Address :</span>
						<h6><a href="mailto:help@gmail.com">help@gmail.com</a></h6>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="contact__one-item">
						<i class="flaticon-location-1"></i>
						<span>Location :</span>
						<h6><a href="https://google.com/maps">New Jersey 45463</a></h6>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="contact__one-item">
						<i class="flaticon-wall-clock"></i>
						<span>Opening Hours :</span>
						<h6>Mon-Fri 09 am-05 PM</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Contact Area End -->
    <!-- Contact Form Area Start -->
	<div class="contact__form section-padding pt-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 lg-mb-25">
					<div class="contact__form-area">
						<h3>Get In touch</h3>
						<form action="#">
							<div class="row">
								<div class="col-md-6 mb-30">
									<div class="contact__form-area-item">										
										<input type="text" name="name" placeholder="Full Name" required="required">
									</div>
								</div>
								<div class="col-md-6 md-mb-30">
									<div class="contact__form-area-item">										
										<input type="email" name="email" placeholder="Email Address" required="required">											
									</div>
								</div>
								<div class="col-md-12 mb-30">
									<div class="contact__form-area-item">										
										<input type="text" name="subject" placeholder="Subject">
									</div>
								</div>
								<div class="col-md-12 mb-30">
									<div class="contact__form-area-item">										
										<textarea name="message" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="contact__form-area-item">
										<button class="btn-one" type="submit">Submit Message</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="contact__one-map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830894606!2d-74.11976383964463!3d40.69766374865767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1652012644726!5m2!1sen!2sbd" loading="lazy"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Contact Form Area End -->
	{% include 'footer.html' %}