{% load static %}
{% include 'header.html' %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb__area" data-background="{% static '/img/pages/banner.webp' %}">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="breadcrumb__area-content">
						<h1>Company Overview</h1>
						<ul>
							<li><a href="index.html">Home</a><i class="fa-regular fa-angle-right"></i></li>
							<li>Company Overview</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>       
    <!-- Breadcrumb Area End -->
    <!-- Faq Area Start -->
    <div class="faq-area section-padding pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 lg-mb-20">
					<div id="accordionExample1">
                        <div class="faq__area-item">
                            <h6 class="icon" data-bs-toggle="collapse" data-bs-target="#collapseOne1"><span>01.</span>Company Overview</h6>
                            <div id="collapseOne1" class="faq__area-item-body collapse show" data-bs-parent="#accordionExample1">
                                <p>
Recycletech Australia Pty Ltd is a vertically integrated tyre recycling company headquartered in Queensland, with two operational facilities located in Mackay and Carole Park (Brisbane). We specialise in converting end-of-life tyres — including mining-grade OTR tyres — into high-quality recycled materials used in infrastructure, manufacturing, and environmental applications.</p>
								<p>With a total processing capacity of 8,000 tonnes annually, Recycletech operates a closed-loop system covering collection, shredding, separation, material conversion, and delivery.                                 Recycletech reduces landfill waste by over 1,000 tonnes annually, through the processing of mining-grade tyres that would otherwise be discarded — a contribution we take pride in as part of our commitment to real-world sustainability.</p>
								<p>By recovering and reprocessing these large-format tyres, we help close the loop on one of Australia’s most complex waste streams, transforming environmental risk into infrastructure-grade resources.</p>
                            </div>
                        </div>
                        <!-- <div class="faq__area-item">
                            <h6 class="icon collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo2"><span>02.</span>How much solar power is enough?</h6>
                            <div id="collapseTwo2" class="faq__area-item-body collapse" data-bs-parent="#accordionExample1">
                                <p>Solar energy is generated when sunlight strikes solar panels, creating electricity through the photovoltaic effect. The availability of solar energy is tied</p>
                            </div>
                        </div>
                        <div class="faq__area-item">
                            <h6 class="icon collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree3"><span>03.</span>How many solar panels can I have?</h6>
                            <div id="collapseThree3" class="faq__area-item-body collapse" data-bs-parent="#accordionExample1">
                                <p>Solar energy is generated when sunlight strikes solar panels, creating electricity through the photovoltaic effect. The availability of solar energy is tied</p>
                            </div>
                        </div> -->
                    </div> 	
                </div>
            </div>
        </div>
    </div>
	<!-- Faq Area End -->
	<!-- Faq Area Start -->
    <!-- <div class="faq__page section-padding">
        <div class="container">
            <div class="row al-center">
                <div class="col-lg-6 lg-mb-30">
                    <div class="faq__page-left">
                        <div class="faq__page-left-image dark_image">
                            <img src="assets/img/pages/faq-1.jpg" alt="faq-image">
                            <img class="faq__page-left-image-one" src="assets/img/pages/faq-2.jpg" alt="faq-image">
                            <div class="faq__page-left-image-question left-right-animate">
                                <div class="faq__page-left-image-question-icon page">
                                    <i class="fa-sharp fa-solid fa-question"></i>
                                </div>
                                <h6>Have any questions?</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq__page-right">
                        <div class="faq__page-right-title mb-40">
                            <span class="subtitle-one">Faq Questions</span>
                            <h2>Unlock Answers Explore FAQs</h2>
                        </div>
                        <div id="accordionExample">
                            <div class="faq__area-item">
                                <h6 class="icon" data-bs-toggle="collapse" data-bs-target="#collapseOne"><span>01.</span>How much solar energy is needed?</h6>
                                <div id="collapseOne" class="faq__area-item-body collapse show" data-bs-parent="#accordionExample">
                                    <p>Solar energy is generated when sunlight strikes solar panels, creating electricity through the photovoltaic effect. The availability of solar energy is tied</p>
                                </div>
                            </div>
                            <div class="faq__area-item">
                                <h6 class="icon collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"><span>02.</span>How much solar power is enough?</h6>
                                <div id="collapseTwo" class="faq__area-item-body collapse" data-bs-parent="#accordionExample">
                                    <p>Solar energy is generated when sunlight strikes solar panels, creating electricity through the photovoltaic effect. The availability of solar energy is tied</p>
                                </div>
                            </div>
                            <div class="faq__area-item">
                                <h6 class="icon collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"><span>03.</span>How many solar panels can I have?</h6>
                                <div id="collapseThree" class="faq__area-item-body collapse" data-bs-parent="#accordionExample">
                                    <p>Solar energy is generated when sunlight strikes solar panels, creating electricity through the photovoltaic effect. The availability of solar energy is tied</p>
                                </div>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>        
    </div> -->
	<!-- Faq Area End -->
{% include 'footer.html' %}