{% load static %}
{% include 'header.html' %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb__area" data-background="{% static '/img/pages/banner.webp' %}">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="breadcrumb__area-content">
						<h1>Community & Council Impact</h1>
						<ul>
							<li><a href="index.html">Home</a><i class="fa-regular fa-angle-right"></i></li>
							<li>Community & Council Impact</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>       
    <!-- Breadcrumb Area End -->
    <!-- Faq Area Start -->
    <div class="faq-area section-padding pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 lg-mb-20">
					<div id="accordionExample1">
                        <div class="faq__area-item">
                            <h6 class="icon" data-bs-toggle="collapse" data-bs-target="#collapseOne1"><span>01.</span>Community & Council Impact</h6>
                            <div id="collapseOne1" class="faq__area-item-body collapse show" data-bs-parent="#accordionExample1">
                                <p>Our logistics are fully in-house, supported by a fleet of 10 specialised trucks, comprising 10, 12, and 14-pallet heavy rigid vehicles and purpose-configured B-double combinations capable of transporting oversized mining-grade OTR tyres. This enables responsive, high-volume fulfilment and end-to-end control across both regional and metropolitan areas.</p>
                            </div>
                        </div>
                        <!-- <div class="faq__area-item">
                            <h6 class="icon collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo2"><span>02.</span>How much solar power is enough?</h6>
                            <div id="collapseTwo2" class="faq__area-item-body collapse" data-bs-parent="#accordionExample1">
                                <p>Solar energy is generated when sunlight strikes solar panels, creating electricity through the photovoltaic effect. The availability of solar energy is tied</p>
                            </div>
                        </div>
                        <div class="faq__area-item">
                            <h6 class="icon collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree3"><span>03.</span>How many solar panels can I have?</h6>
                            <div id="collapseThree3" class="faq__area-item-body collapse" data-bs-parent="#accordionExample1">
                                <p>Solar energy is generated when sunlight strikes solar panels, creating electricity through the photovoltaic effect. The availability of solar energy is tied</p>
                            </div>
                        </div> -->
                    </div> 	
                </div>
            </div>
        </div>
    </div>
	<!-- Faq Area End -->
	<!-- Faq Area Start -->
    <!-- <div class="faq__page section-padding">
        <div class="container">
            <div class="row al-center">
                <div class="col-lg-6 lg-mb-30">
                    <div class="faq__page-left">
                        <div class="faq__page-left-image dark_image">
                            <img src="assets/img/pages/faq-1.jpg" alt="faq-image">
                            <img class="faq__page-left-image-one" src="assets/img/pages/faq-2.jpg" alt="faq-image">
                            <div class="faq__page-left-image-question left-right-animate">
                                <div class="faq__page-left-image-question-icon page">
                                    <i class="fa-sharp fa-solid fa-question"></i>
                                </div>
                                <h6>Have any questions?</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq__page-right">
                        <div class="faq__page-right-title mb-40">
                            <span class="subtitle-one">Faq Questions</span>
                            <h2>Unlock Answers Explore FAQs</h2>
                        </div>
                        <div id="accordionExample">
                            <div class="faq__area-item">
                                <h6 class="icon" data-bs-toggle="collapse" data-bs-target="#collapseOne"><span>01.</span>How much solar energy is needed?</h6>
                                <div id="collapseOne" class="faq__area-item-body collapse show" data-bs-parent="#accordionExample">
                                    <p>Solar energy is generated when sunlight strikes solar panels, creating electricity through the photovoltaic effect. The availability of solar energy is tied</p>
                                </div>
                            </div>
                            <div class="faq__area-item">
                                <h6 class="icon collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"><span>02.</span>How much solar power is enough?</h6>
                                <div id="collapseTwo" class="faq__area-item-body collapse" data-bs-parent="#accordionExample">
                                    <p>Solar energy is generated when sunlight strikes solar panels, creating electricity through the photovoltaic effect. The availability of solar energy is tied</p>
                                </div>
                            </div>
                            <div class="faq__area-item">
                                <h6 class="icon collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"><span>03.</span>How many solar panels can I have?</h6>
                                <div id="collapseThree" class="faq__area-item-body collapse" data-bs-parent="#accordionExample">
                                    <p>Solar energy is generated when sunlight strikes solar panels, creating electricity through the photovoltaic effect. The availability of solar energy is tied</p>
                                </div>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>        
    </div> -->
	<!-- Faq Area End -->
{% include 'footer.html' %}