{% load static %}
<!-- Footer Cta Area Start -->
<!-- <div class="footer__cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="footer__cta-area" data-background="{% static '/img/shape/shape-7.png' %}">
                    <div class="row al-center">
                        <div class="col-lg-9">
                            <div class="footer__cta-area-left">
                                <h3>Harness the Sun Get Solar Power Today!</h3>
                                <div class="footer__cta-area-left-btn lg-jc-center">
                                    <a class="btn-one" href="/requestquote">Start Today</a>
                                    <div class="footer__cta-area-left-btn-tel author">
                                        <i class="flaticon-phone-call"></i>
                                        <div class="info">
                                            <span>Need any help</span>
                                            <h6><a href="tel:+123(548)5256">+61 401720949</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 lg-mt-25">
                            <div class="footer__cta-area-right t-right lg-t-center">
                                <div class="footer__cta-area-right-image dark_image">
                                    <img src="{% static '/img/avatar/avatar-5.png' %}" alt="avatar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="cta__one">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="cta__one-area" data-background="{% static '/img/shape/shape-6.png' %}">
                        <div class="row align-items-center">
                            <div class="col-lg-7 lg-mb-25">
                                <div class="cta__one-title lg-t-center">
                                    <h3>Contact US<br>Recycled Truck Tyres Today!</h3>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="cta__one-contact lg-jc-center">
                                    <div class="cta__one-contact-icon">
                                        <i class="flaticon-phone-call"></i>
                                    </div>
                                    <div class="cta__one-contact-info">
                                        <span>Free contact 24/7</span>
                                        <h6><a href="tel:+123(568)584856">+61 401720949</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>	
<!-- Footer Cta Area End -->
<!-- Footer Area Start -->
<div class="footer__area" data-background="{% static '/img/shape/shape-13.png' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 lg-mb-25">
                <div class="footer__area-widget">
                    <div class="logo">
                        <a href="/index"> <img class="logo-main" src="{% static '/img/recycletechLogo.png' %}" alt="Logo-image"></a>
                        <a href="https://www.tyrestewardship.org.au/"> <img class="logo-tsa-cred" src="{% static '/img/TSA-Accreditation-Tyrecycle.png' %}" alt="Logo-image"></a>
                    </div>
                    <div class="footer__area-widget-company">
                        <p><a href="https://maps.app.goo.gl/5jYXC6E9QQmch8Tq5">371 Conners Rd, Bakers Creek, QLD 4740</a></p>
                        <p><a href="https://maps.app.goo.gl/eMMwW8SvhLDK1HQj8">10 Argon St, Carole Park QLD 4300</a></p>
                        <!-- <div class="social__icon mt-60">
                            <ul>
                                <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="https://behance.net" target="_blank"><i class="fab fa-behance"></i></a></li>
                                <li><a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5">
                <div class="row">
                    <div class="col-lg-7 col-sm-6 col-12 sm-mt-25">
                        <div class="footer__area-widget">
                            <h6>Phone</h6>
                            <div class="footer__area-widget-info mb-35">
                                <p><a href="tel:+12(456)65878">+61 401720949</a></p>
                                <!-- <p><a href="tel:+12(518)45145">+12(518)451 45</a></p> -->
                            </div>
                            <h6>Email</h6>
                            <div class="footer__area-widget-info">
                                <p><a href="mailto:Deanh@recycletechaustralia.com.au">Deanh@recycletechaustralia.com.au</a></p>
                                <p><a href="mailto:Judig@recycletechaustralia.com.au">sales@recycletechaustralia.com.au</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-6 col-12 sm-mt-25">
                        <div class="footer__area-widget">
                            <h6>Resources</h6>
                            <div class="footer-widget-menu">
                                <ul>
                                    <li><a href="/about">About Us</a></li>
                                    <!-- <li><a href="blog-grid-three.html">Blog</a></li>
                                    <li><a href="testimonial.html">Testimonials</a></li>
                                    <li><a href="faq.html">Faqs</a></li> -->
                                    <li><a href="/requestquote">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-6 lg-mt-25">
                        <div class="footer__area-widget">
                            <h6>Subscribe</h6>
                            <div class="footer__area-widget-subscribe">
                                <form action="#">
                                    <input type="email" name="email" placeholder="Email Address" required="required">
                                    <button type="submit"><i class="fas fa-paper-plane"></i></button>
                                    <label><input type="checkbox">I agree with the terms and conditions</label>
                                </form>
                            </div>						
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="copyright__area lg-t-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright 2025 - All Rights Reserved By <a>Dean</a></p>
                </div>
                <!-- <div class="col-lg-6">
                    <div class="copyright__area-menu t-right lg-t-center lg-mt-5">
                        <ul>
                            <li><a href="contact-two.html">Privacy & Policy</a></li>
                            <li><a href="contact-two.html">Terms and Conditions</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>		
</div>
<!-- Footer Area End -->
<!-- Scroll Btn Start -->
<div class="scroll-up">
    <svg class="scroll-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102"><path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" /> </svg>
</div>
<!-- Scroll Btn End -->	
<!-- Main JS -->
<script src="{% static '/js/jquery-3.7.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<!-- Counter Up JS -->
<script src="{% static '/js/jquery.counterup.min.js' %}"></script>
<!-- Popper JS -->
<script src="{% static '/js/popper.min.js' %}"></script>
<!-- Progressbar JS -->
<script src="{% static '/js/progressbar.min.js' %}"></script>
<!-- Magnific Popup JS -->
<script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Swiper Bundle JS -->
<script src="{% static '/js/swiper-bundle.min.js' %}"></script>
<!-- Isotope JS -->
<script src="{% static '/js/isotope.pkgd.min.js' %}"></script>
<!-- Waypoints JS -->
<script src="{% static '/js/jquery.waypoints.min.js' %}"></script>
<!-- Custom JS -->
<script src="{% static '/js/custom.js' %}"></script>
</body>
</html>