	{% load static %}
	{% include 'header.html' %}
	<!-- Banner Area Start -->
	<div class="banner__one">
		<div class="swiper banner-slider">
			<div class="swiper-wrapper">
				<div class="banner__one-image swiper-slide">
					<!-- <img class="banner__one-shape" alt="banner-shape"> -->
					<!-- <img class="banner__one-shape" src="{% static 'img/shape/shape_bg.png' %}" alt="banner-shape"> -->
					<div class="container">
						<div class="row">
							<div class="col-xl-8">
								<div class="banner__one-content">
									<!-- <img class="banner__one-shape" src="{% static 'img/shape/shape_bg.png' %}" alt="banner-shape"> -->
									<span class="subtitle-one" data-animation="fadeInUp" data-delay=".3s">Recycletech</span>
									<h1 data-animation="fadeInUp" data-delay=".6s">Eco Friendly<br> Power</h1>
									 <p data-delay=".9s">
        Recycletech Australia Pty Ltd is a Queensland-based tyre recycling and circular manufacturing company.
        The business holds a 4.5-star environmental performance rating from Tyre Stewardship Australia (TSA),
        the highest rating in Queensland and among the top scores nationally.
      </p>

      <p>
        We operate two specialised facilities with a combined annual processing capacity of 8,000 tonnes of tyres and by-products:
      </p>
	  <p>
		<span>
		<i class="fa-sharp fa-solid fa-circle-check"></i>
		The Mackay facility is dedicated to ultra-large mining tyre recycling, addressing one of the most technically demanding waste streams in Australia.
	  </span>
	  </p>
	  <p>
	  <span>
		<i class="fa-sharp fa-solid fa-circle-check"></i>
		The Brisbane facility focuses on high-volume processing and material distribution, supporting infrastructure development and industrial supply chains.
	  </span>
	  </p>
      <p>
        Our operations prevent over 1,500 tonnes of mining tyres from entering landfill annually. A dedicated fleet of eight specialised trucks ensures efficient tyre collection and delivery across Queensland and nearby regions.
      </p>

      <p>
        Recycletech also maintains close working relationships with multiple local councils, providing reliable recycling solutions that align with government sustainability goals.
      </p>

      <p>
        Recycletech is focused on scalable recycling technology, measurable environmental outcomes, and strong partnerships,
        positioning the company as a key contributor to Australia’s resource recovery sector.
      </p>
									<div class="banner__one-content-button" data-animation="fadeInUp" data-delay="1.2s">
										<a class="btn-one" href="/about">Discover More</a>
									</div>
								</div>
							</div>
							<div class="col-xl-4">
								<div class="banner__one-right dark_image">
									<img src="{% static '/img/banner/tyre.jpg' %}" alt="banner-image">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="banner__one-image swiper-slide">
					<img class="banner__one-shape" src="{% static '/img/shape/shape-3.png' %}" alt="banner-shape">
					<div class="container">
						<div class="row">
							<div class="col-xl-7">
								<div class="banner__one-content">
									<span class="subtitle-one" data-animation="fadeInUp" data-delay=".3s">We're the best</span>
									<h1 data-animation="fadeInUp" data-delay=".6s">Larges <br> Solar energy</h1>
									<p data-animation="fadeInUp" data-delay=".9s">Our design philosophy is more than aesthetics it's a dynamic process that delves into</p>
									<div class="banner__one-content-button" data-animation="fadeInUp" data-delay="1.2s">
										<a class="btn-one" href="/about">Discover More</a>
									</div>
								</div>
							</div>
							<div class="col-xl-5">
								<div class="banner__one-right dark_image">
									<img src="{% static '/img/banner/banner-3.jpg' %}" alt="banner-image">
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<div class="container">
			<div class="row column-reverse">
				<div class="col-xl-8">
					<div class="banner__one-capacity">
						<div class="container">
							<div class="row">
								<div class="col-md-4 col-sm-5 sm-mb-15">
									<div class="banner__one-capacity-item sm-t-center">
										<h6>Every year, Australians dispose of around </h6>
										<h3><span class="counter">50,000,000</span></h3>
										<h6>tyres</h6>
									</div>
								</div>
								<div class="col-md-4 col-sm-5">
									<div class="banner__one-capacity-item sm-t-center">
										<h6>Only around</h6>
										<h3><span class="counter">5</span>%</h3>
										<h6>reclyced locally</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 这是一个可以切换两个banner的箭头-->
				<!-- <div class="col-xl-5">
					<div class="banner__one-right">
						<div class="banner__one-arrow">
							<div class="banner__one-arrow-prev banner_prev"><i class="fal fa-long-arrow-left"></i></div>
							<div class="banner__one-arrow-next banner_next"><i class="fal fa-long-arrow-right"></i></div>
						</div>	
					</div>
				</div> -->
			</div>
		</div>
	</div>
	<!-- Banner Area End -->
	<!-- Features Area Start -->
	<div class="features__one section-padding">
		<div class="container">
			<div class="row al-center features__one-bg" data-background="{% static '/img/shape/shape-10.png' %}">
				<div class="col-lg-5 lg-mb-25">
					<div class="features__one-left">
						<h4>Why we need recycle Tyre</h4>
						<!-- <div class="features__one-left-client lg-jc-center dark_image">
							<img src="{% static '/img/avatar/user.png' %}" alt="client-image">
							<h6>12,000+ Customer Reviews</h6>
						</div> -->
					</div>
				</div>
				<div class="col-lg-7">
					<div class="features__one-right lg-jc-center">
						<div class="features__one-right-item">
							<div class="features__one-right-item-icon">
								<i class="flaticon-renewable-energy"></i>
							</div>
							<div class="features__one-right-item-content">
								<h6>Environmental impacts</h6>
								<p>Discarded tires can be an environmental hazard if not properly disposed of</p>
							</div>
						</div>
						<div class="features__one-right-item">
							<div class="features__one-right-item-icon">
								<i class="flaticon-profit"></i>
							</div>
							<div class="features__one-right-item-content">
								<h6>Recycling benefits</h6>
								<p>Turning old tyres into road materials is only one of the potential uses for end-of-life tyres.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Features Area End -->
	<!-- About Area Start -->
	<!-- <div class="about__one section-padding pt-0">
		<img class="about__one-shape dark-n" src="{% static '/img/shape/shape-11.png' %}" alt="shape">
		<img class="about__one-shape light-n" src="{% static '/img/shape/shape-11-dark.png' %}" alt="shape">
		<div class="container">
			<div class="row al-center">
				<div class="col-xl-6 col-lg-5 lg-mb-25">
					<div class="about__one-left">
						<div class="about__one-left-image dark_image">
							<img src="{% static '/img/about/about-1.jpg' %}" alt="about-image">
							<img class="about__one-left-image-shape" src="{% static '/img/shape/shape-12.png' %}" alt="shape">
							<div class="about__one-left-image-two">
								<img src="{% static '/img/about/about-2.jpg' %}" alt="about-image">								
							</div>
							<div class="about__one-left-image-content">
								<div class="circle__progress">
									<div class="circle__progress-item" data-percent="87">
										<div class="circle__progress-item-bar">
											<span class="circle__progress-item-number"></span>
										</div>
									</div>
								</div>
								<h6>Project Success Rate</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-7">
					<div class="about__one-right">
						<div class="about__one-right-title">
							<span class="subtitle-one">Who we re</span>
							<h2>Solar Passion Unveiled Our Story</h2>
							<p>Our design philosophy is more than aesthetics; it's a dynamic process That delves into the heart of each brand, understanding its story, Values, and aspirations. We believe in the</p>
						</div>
						<div class="about__one-right-skill">
							<div class="skill__area-item">
								<div class="skill__area-item-content">
									<h6>Hybrid Energy</h6> 
									<span class="skill__area-item-count"><span class="counter">76</span>%</span>
								</div>
								<div class="skill__area-item-inner">
									<div class="skill__area-item-bar" data-width="76"></div>
								</div>
							</div>
							<div class="skill__area-item">
								<div class="skill__area-item-content">
									<h6>Wind Turbines</h6> 
									<span class="skill__area-item-count"><span class="counter">60</span>%</span>
								</div>
								<div class="skill__area-item-inner">
									<div class="skill__area-item-bar" data-width="60"></div>
								</div>
							</div>
                        </div>
						<div class="about__one-right-bottom">
							<div class="about__one-right-bottom-btn">
								<a class="btn-one" href="about.html">Unlock Power</a>
							</div>
							<div class="about__one-right-bottom-video">
								<div class="about__one-right-bottom-video-icon video video-pulse">
									<a class="video-popup" href="https://youtube.com/watch?v=0WC-tD-njcA"><i class="fas fa-play"></i></a> 
								</div>
								<span>Watch Video</span>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- About Area End -->
	<!-- Services Area Start -->
	<!-- <div class="service__one" data-background="{% static '/img/shape/shape-9.png' %}">
		<div class="container">
			<div class="row mb-35">
				<div class="col-xl-12">
					<div class="service__one-title t-center">
						<span class="subtitle-one">We're constructing</span>
						<h2>Automatically recycling pipline</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="service__one-item" data-background="{% static '/img/shape/shape-5.png' %}">
						<div class="service__one-item-icon">
							<i class="fa fa-"></i>
						</div>
						<div class="service__one-item-content">
							<h6><a href="service-right-sidebar.html">Shredding and Granulation</a></h6>
							<p>	Automated Shredders: High-capacity machines equipped with sensors to adjust shredding speed and size based on input materials.</p>
							<p>	Granulation Systems: Further reduce tyre particles into smaller granules using automated processes that separate rubber, steel, and textile components.</p>
							<a class="simple-btn" href="service-right-sidebar.html">Details More <span><i class="fa-sharp fa-regular fa-arrow-up-right"></i></span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service__one-item" data-background="{% static '/img/shape/shape-5.png' %}">
						<div class="service__one-item-icon">
							<i class="flaticon-renewable-energy"></i>
						</div>
						<div class="service__one-item-content">
							<h6><a href="service-right-sidebar.html">Material Separation</a></h6>
							<p>Magnetic and Air Separation: Utilize magnetic separators to extract steel wires and air classifiers to separate different rubber grades, enhancing material purity.</p>
							<a class="simple-btn" href="service-right-sidebar.html">Details More <span><i class="fa-sharp fa-regular fa-arrow-up-right"></i></span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service__one-item" data-background="{% static '/img/shape/shape-5.png' %}">
						<div class="service__one-item-icon">
							<i class="flaticon-solar-energy"></i>
						</div>
						<div class="service__one-item-content">
							<h6><a href="service-right-sidebar.html">Processing and Recycling</a></h6>
							<p>Controlled Processing Units: Automated systems regulate temperature and pressure during the devulcanization or pyrolysis </p>
							<p>Continuous Feed Systems: Ensure a steady flow of materials for processing, reducing downtime.</p>
							<a class="simple-btn" href="service-right-sidebar.html">Details More <span><i class="fa-sharp fa-regular fa-arrow-up-right"></i></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="service__one-item" data-background="{% static '/img/shape/shape-5.png' %}">
						<div class="service__one-item-icon">
							<i class="flaticon-ecology"></i>
						</div>
						<div class="service__one-item-content">
							<h6><a href="service-right-sidebar.html">Quality Control</a></h6>
							<p>	Real-Time Monitoring: Sensors track material quality and processing efficiency, allowing for immediate adjustments to maintain standards.</p>
							<p>	Data Analytics: Analyze operational data to identify trends and optimize the recycling process continuously.</p>
							<a class="simple-btn" href="service-right-sidebar.html">Details More <span><i class="fa-sharp fa-regular fa-arrow-up-right"></i></span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-12">
					<div class="service__one-item" data-background="{% static '/img/shape/shape-5.png' %}">
						<div class="service__one-item-icon">
							<i class="flaticon-renewable-energy"></i>
						</div>
						<div class="service__one-item-content">
							<h6><a href="service-right-sidebar.html">Packaging and Distribution</a></h6>
							<p>	Automated Packing Lines: Pack processed materials into bales or bags for transport using conveyor systems and robotic arms.</p>
							<p>	Inventory Management: Use software to track materials and manage storage automatically.</p>
							<p>	Efficiency: Significantly reduces processing time and labor costs.</p>
							<p>	Consistency: Maintains high-quality outputs through automated controls.</p>
							<p>	Scalability: Easily scalable to handle varying volumes of tyre waste.</p>
							<a class="simple-btn" href="service-right-sidebar.html">Details More <span><i class="fa-sharp fa-regular fa-arrow-up-right"></i></span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service__one-item" data-background="{% static '/img/shape/shape-5.png' %}">
						<div class="service__one-item-icon">
							<i class="flaticon-solar-energy"></i>
						</div>
						<div class="service__one-item-content">
							<h6><a href="service-right-sidebar.html">Processing and Recycling</a></h6>
							<p>Controlled Processing Units: Automated systems regulate temperature and pressure during the devulcanization or pyrolysis </p>
							<p>Continuous Feed Systems: Ensure a steady flow of materials for processing, reducing downtime.</p>
							<a class="simple-btn" href="service-right-sidebar.html">Details More <span><i class="fa-sharp fa-regular fa-arrow-up-right"></i></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- Services Area End -->
	<!-- Why Choose Us Area Start -->
	<div class="choose__us section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="choose__us-area">
						<div class="choose__us-area-title">
							<span class="subtitle-one">We are developing</span>
							<h2>Automatically recycling process</h2>
							<p>We are currently developing advanced automated systems for shredding, granulation, and material separation of tire waste, enhancing efficiency and consistency. Our future plans include implementing real-time monitoring and data analytics for quality control, along with automated packaging and inventory management to optimize the recycling process and scalability.</p>
						</div>
						<div class="choose__us-area-list">
							<div class="choose__us-area-list-item">
								<img src="{% static '/img/icon/image.png' %}" style="width: 50px; height: auto;">
								<div class="choose__us-area-list-item-bottom">
									<h6>Shredding and Granulation</h6>									
								</div>
							</div>
							<div class="choose__us-area-list-item">
								<img src="{% static '/img/icon/processing.png' %}" style="width: 50px; height: auto;">
								<div class="choose__us-area-list-item-bottom">
									<h6>Material Separation</h6>									
								</div>
							</div>
							<div class="choose__us-area-list-item">
								<img src="{% static '/img/icon/recycle.png' %}" style="width: 50px; height: auto;">
								<div class="choose__us-area-list-item-bottom">
									<h6>Processing and Recycling</h6>									
								</div>
							</div>
							<div class="choose__us-area-list-item">
								<img src="{% static '/img/icon/quality-control.png' %}" style="width: 50px; height: auto;">
								<div class="choose__us-area-list-item-bottom">
									<h6>Quality Control</h6>									
								</div>
							</div>
							<div class="choose__us-area-list-item">
								<img src="{% static '/img/icon/box.png' %}" style="width: 50px; height: auto;">
								<div class="choose__us-area-list-item-bottom">
									<h6>Packaging and Distribution</h6>									
								</div>
							</div>
						</div>
						<div class="choose__us-area-bottom">
							<a class="btn-one" href="/ourprocess">More details</a>
							<div class="choose__us-area-bottom-tel sm-mt-25">
								<h6>If your have any Questions<br>Feel free to contact <a href="tel:+61401720949"> 401720949</a></h6>
							</div>
						</div>
						<div class="choose__us-area-image dark_image">
							<img src="{% static '/img/pages/factory.jpg' %}" alt="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Why Choose Us Area End -->
	<!-- Work Process Area Start -->
	<!-- <div class="work__process section-padding">
		<div class="container">
			<div class="row mb-70">
				<div class="col-xl-12">
					<div class="work__process-title t-center">
						<span class="subtitle-one">Automatically pipline</span>
						<h2>Our Work Process</h2>
					</div>
				</div>
			</div>
			<div class="row g-0 dark_image">
				<div class="col-lg-3 col-sm-6 lg-mb-45">
					<div class="work__process-item">
						<p><span>Step 01</span></p>
						<img src="{% static '/img/pages/baled_steel.jpg' %}" alt="image">
						<h6>Shredding and Granulation</h6>
						<p class="des">Extract baled steel from tyres and recycle.</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 sm-mb-45">
					<div class="work__process-item">
						<p><span>Step 02</span></p>
						<img src="{% static '/img/pages/shredded_steel.jpg' %}" alt="image">
						<h6>shredded steel extraction</h6>
						<p class="des">Extract shredded steel from tyres and recycle.</p>
					</div>					
				</div>
				<div class="col-lg-3 col-sm-6 sm-mb-45">
					<div class="work__process-item">
						<p><span>Step 03</span></p>
						<img src="{% static '/img/pages/storage_2.jpg' %}" alt="image">
						<h6>Recycled as 30-mesh products</h6>
						<p class="des">Implement seamless solar Panel installations.</p>
					</div>					
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="work__process-item">
						<p><span>Step 04</span></p>
						<img src="{% static '/img/pages/work-4.jpg' %}" alt="image">
						<h6>supply to manufacturers and consumers.</h6>
						<p class="des">Finally, these 30-mesh crumb rubber have been delivered to our manufacturers and consumers.</p>
					</div>						
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="work__process-item">
						<p><span>Step 04</span></p>
						<img src="{% static '/img/pages/work-4.jpg' %}" alt="image">
						<h6>supply to manufacturers and consumers.</h6>
						<p class="des">Finally, these 30-mesh crumb rubber have been delivered to our manufacturers and consumers.</p>
					</div>						
				</div>
			</div>
		</div>
	</div> -->
	<!-- Work Process Area End -->
	<!-- Portfolio Area Start -->
	<!-- <div class="portfolio__one">
		<div class="container">
			<div class="row al-end mb-60">
				<div class="col-xl-8 lg-mb-25">
					<div class="portfolio__one-title lg-t-center">
						<span class="subtitle-one">Our Work Process</span>
						<h2>Our Tyre Recycling process</h2>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="portfolio__one-btn t-right lg-t-center">
						<a class="btn-one" href="project-four.html">View All Projects</a>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper portfolio_slider_one dark_image">
			<div class="swiper-wrapper">
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/tyre_step.png' %}" alt="portfolio">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step 1</span>
							<h6><a href="project-details.html">Collecting and processing Tyres</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/nylon_step.png' %}" alt="portfolio">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step 2</span>
							<h6><a href="project-details.html">Extracting nylon from tyres</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/black_powder_step.png' %}" alt="portfolio">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step2</span>
							<h6><a href="project-details.html">Extracting powder from tyres</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/shredded_steel.png' %}" alt="portfolio">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step 2</span>
							<h6><a href="project-details.html">Extracting shredded steel from tyres</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/baled_steel.png' %}" alt="portfolio">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step 2</span>
							<h6><a href="project-details.html">Extracting baled steel from tyres</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/storage.png' %}" alt="portfolio">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step3</span>
							<h6><a href="project-details.html">Our 30-mesh crumb rubber production</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/road_step.webp' %}" alt="portfolio" type="image/webp">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step 4</span>
							<h6><a href="project-details.html">Our 30-mesh crumb rubber is applied for various surfacing projects.</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- Project Grid Area Start -->
	<div class="portfolio__one section-padding-three">
		<div class="container">
			<div class="row al-end mb-60">
				<div class="col-xl-8 lg-mb-25">
					<div class="portfolio__one-title lg-t-center">
						<span class="subtitle-one">Our Work Process</span>
						<h2>Our Products</h2>
					</div>
				</div>
			</div>
			<div class="row dark_image">
                <div class="col-md-6 mt-25">
                    <div class="portfolio__one-item">
                        <div class="portfolio__one-item-image">
                            <img src="{% static '/img/portfolio/Product1.png' %}" alt="portfolio">
                            <div class="portfolio__one-item-image-content">
                                <span><i class="fa-regular fa-horizontal-rule"></i>Surfacing projects</span>
                                <h6><a>Road paving</a></h6>
                                <a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-25">
					<!-- <div class="portfolio__one">
						<p>
							We collect end-of-life tyres from retailers, mining operations, and transport companies, 
							and process them through sorting, cleaning, and shredding to produce high-quality rubber 
							granules and recycled steel. This closed-loop approach reduces environmental impact and 
							promotes resource recovery.
						</p>
					</div> -->
					<a class="info-link">
						We collect end-of-life tyres from retailers, mining operations, and transport companies, 
						and process them through sorting, cleaning, and shredding to produce high-quality rubber 
						granules and recycled steel. This closed-loop approach reduces environmental impact and 
						promotes resource recovery.
					</a>
                </div>
                <div class="col-md-6 mt-25">
                    <!-- <div class="portfolio__one-item">
                        <div class="portfolio__one-item-image">
                            <img src="{% static '/img/portfolio/portfolio-3.jpg' %}" alt="portfolio">
                            <div class="portfolio__one-item-image-content">
                                <span><i class="fa-regular fa-horizontal-rule"></i>Solar Radiance</span>
                                <h6><a href="project-details.html">SunSpark Modules</a></h6>
                                <a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div> -->
					<a class="info-link">
						Recycled rubber is used in road construction, sports surfaces, playgrounds, and various industrial products, delivering sustainable solutions that support infrastructure development and circular economy practices.
					</a>
                </div>
                <div class="col-md-6 mt-25">
                    <div class="portfolio__one-item">
                        <div class="portfolio__one-item-image">
                            <img src="{% static '/img/portfolio/Product2.png' %}" alt="portfolio">
                            <div class="portfolio__one-item-image-content">
                                <span><i class="fa-regular fa-horizontal-rule"></i>Gym Flooring & Paving</span>
                                <h6><a>Road paving</a></h6>
                                <a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <!-- Project Grid Area End -->  
	<!-- Portfolio Area End -->
	<!-- Team Area Start -->
	<div class="team__one">
		<div class="container">
			<div class="row mb-35">
				<div class="col-xl-12">
					<div class="team__one-title t-center">
						<span class="subtitle-one">We're the best</span>
						<h2>Products' factory</h2>
					</div>
				</div>
			</div>
			<div class="row mb-35 dark_image">
				<div class="col-lg-3 col-md-6 lg-mb-35">
					<div class="team__one-item">
						<div class="team__one-item-image">
							<img src="{% static '/img/team/industry_1.jpg' %}" alt="team">
							<div class="team__one-item-image-content">
								<div class="team__one-item-image-icon">
									<span><i class="fas fa-share-alt"></i></span>
									<div class="team__one-item-image-social">
										<ul>
											<li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
											<li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<h6><a href="team-details.html">Steve Rhodes</a></h6>
								<span>Senior Manager</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 md-mb-35">
					<div class="team__one-item">
						<div class="team__one-item-image">
							<img src="{% static '/img/team/industry_2.jpg' %}" alt="team">
							<div class="team__one-item-image-content">
								<div class="team__one-item-image-icon">
									<span><i class="fas fa-share-alt"></i></span>
									<div class="team__one-item-image-social">
										<ul>
											<li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
											<li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<h6><a href="team-details.html">Derya Kurtulus</a></h6>
								<span>Heating Expert</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 md-mb-35">
					<div class="team__one-item">
						<div class="team__one-item-image">
							<img src="{% static '/img/team/industry_3.jpg' %}" alt="team">
							<div class="team__one-item-image-content">
								<div class="team__one-item-image-icon">
									<span><i class="fas fa-share-alt"></i></span>
									<div class="team__one-item-image-social">
										<ul>
											<li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
											<li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<h6><a href="team-details.html">Lisa Thompson</a></h6>
								<span>Senior Engineer</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="team__one-item">
						<div class="team__one-item-image">
							<img src="{% static '/img/team/industry_4.jpg' %}" alt="team">
							<div class="team__one-item-image-content">
								<div class="team__one-item-image-icon">
									<span><i class="fas fa-share-alt"></i></span>
									<div class="team__one-item-image-social">
										<ul>
											<li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
											<li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<h6><a href="team-details.html">David Martinez</a></h6>
								<span>Senior Technician</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Team Area End -->
	<!-- Testimonial Area Start -->
	<!-- <div class="testimonial__one section-padding" data-background="{% static '/img/shape/shape-8.png' %}">
		<div class="container">
			<div class="row al-center">
				<div class="col-xl-5 col-lg-6 lg-mb-45">
					<div class="testimonial__one-left lg-t-center">
						<span class="subtitle-one">Testimonial</span>
						<h2>Capturing Our Success Stories</h2>	
						<div class="testimonial__one-arrow lg-jc-center">
							<div class="testimonial__one-arrow-prev testimonial_prev"><i class="fal fa-long-arrow-left"></i></div>
							<div class="testimonial__one-arrow-next testimonial_next"><i class="fal fa-long-arrow-right"></i></div>
						</div>					
					</div>
				</div>
				<div class="col-xl-7 col-lg-6">
					<div class="testimonial__one-right testimonial_one_slider swiper dark_image">
						<div class="swiper-wrapper">
							<div class="testimonial__one-right-item swiper-slide">
								<div class="testimonial__one-right-item-avatar">
									<img src="{% static '/img/avatar/avatar-1.jpg' %}" alt="avatar">
								</div>
								<div class="testimonial__one-right-item-content">
									<div class="rating">
										<i class="fa-solid fa-square-star"></i>								
										<i class="fa-solid fa-square-star"></i>								
										<i class="fa-solid fa-square-star"></i>								
										<i class="fa-solid fa-square-star"></i>								
										<i class="fa-solid fa-square-star"></i>								
									</div>
									<p>Our team comprises seasoned experts who bring a wealth of experience and skill to every project. From intricate details to overarching strategies</p>
									<div class="testimonial__one-right-item-content-bottom">
										<div class="testimonial__one-right-item-content-bottom-name">
											<h6>William lowe</h6>
											<span>CEO, Peerspark</span>
										</div>
										<div class="testimonial__one-right-item-content-bottom-brand">
											<img src="{% static '/img/brand/brand-1.png' %}" alt="brand">
										</div>
									</div>
								</div>
							</div>
							<div class="testimonial__one-right-item swiper-slide">
								<div class="testimonial__one-right-item-avatar">
									<img src="{% static '/img/avatar/avatar-2.jpg' %}" alt="avatar">
								</div>
								<div class="testimonial__one-right-item-content">
									<div class="rating">
										<i class="fa-solid fa-square-star"></i>								
										<i class="fa-solid fa-square-star"></i>								
										<i class="fa-solid fa-square-star"></i>								
										<i class="fa-solid fa-square-star"></i>								
										<i class="fa-solid fa-square-star"></i>								
									</div>
									<p>Our team comprises seasoned experts who bring a wealth of experience and skill to every project. From intricate details to overarching strategies</p>
									<div class="testimonial__one-right-item-content-bottom">
										<div class="testimonial__one-right-item-content-bottom-name">
											<h6>Steve Rhodes</h6>
											<span>UX Designer</span>
										</div>
										<div class="testimonial__one-right-item-content-bottom-brand">
											<img src="{% static '/img/brand/brand-1.png' %}" alt="brand">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- Testimonial Area End -->
	<!-- Brand Area Start -->
	<!-- <div class="brand__area swiper brand_slider">
		<div class="swiper-wrapper">
			<div class="brand__area-item swiper-slide">
				<img src="{% static '/img/brand/brand-2.png' %}" alt="brand">
			</div>
			<div class="brand__area-item swiper-slide">
				<img src="{% static '/img/brand/brand-3.png' %}" alt="brand">
			</div>
			<div class="brand__area-item swiper-slide">
				<img src="{% static '/img/brand/brand-4.png' %}" alt="brand">
			</div>
			<div class="brand__area-item swiper-slide">
				<img src="{% static '/img/brand/brand-5.png' %}" alt="brand">
			</div>
			<div class="brand__area-item swiper-slide">
				<img src="{% static '/img/brand/brand-6.png' %}" alt="brand">
			</div>
			<div class="brand__area-item swiper-slide">
				<img src="{% static '/img/brand/brand-7.png' %}" alt="brand">
			</div>
			<div class="brand__area-item swiper-slide">
				<img src="{% static '/img/brand/brand-8.png' %}" alt="brand">
			</div>
		</div>
	</div> -->
	<!-- Brand Area End -->
	<!-- Blog Area Start -->
	<!-- <div class="blog__one section-padding">
		<div class="container">
			<div class="row al-end mb-35">
				<div class="col-lg-8 lg-mb-25">
					<div class="blog__one-title lg-t-center">
						<span class="subtitle-one">FROM THE BLOG</span>
						<h2>Latest News & Blog</h2>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="blog__one-btn t-right lg-t-center">
						<a class="btn-one" href="blog-grid-three.html">More Blog</a>
					</div>
				</div>
			</div>
			<div class="row dark_image">
				<div class="col-lg-4 col-md-6">
					<div class="blog__one-item">
						<div class="blog__one-item-image">
							<a href="single-left-sidebar.html"><img src="{% static '/img/blog/blog-1.jpg' %}" alt="blog"></a>
						</div>
						<div class="blog__one-item-content">
							<h6><a href="single-left-sidebar.html">Solar Power for a Cleaner Brighter World.</a></h6>
							<div class="blog__one-item-content-meta">
								<span>03 Minutes</span>
								<h6>February 17, 2024</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog__one-item">
						<div class="blog__one-item-image">
							<a href="single-left-sidebar.html"><img src="{% static '/img/blog/blog-2.jpg' %}" alt="blog"></a>
						</div>
						<div class="blog__one-item-content">
							<h6><a href="single-left-sidebar.html">Solar Symphony Harmony in Sustainability</a></h6>
							<div class="blog__one-item-content-meta">
								<span>11 Minutes</span>
								<h6>February 11, 2024</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog__one-item">
						<div class="blog__one-item-image">
							<a href="single-left-sidebar.html"><img src="{% static '/img/blog/blog-3.jpg' %}" alt="blog"></a>
						</div>
						<div class="blog__one-item-content">
							<h6><a href="single-left-sidebar.html">Exploring the Bright Future of Solar Energy.</a></h6>
							<div class="blog__one-item-content-meta">
								<span>15 Minutes</span>
								<h6>February 07, 2024</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- Blog Area End -->
	{% include 'footer.html' %}