{% load static %}
{% include 'header.html' %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb__area" data-background="{% static '/img/pages/banner.webp' %}">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="breadcrumb__area-content">
						<h1>Our Process</h1>
						<ul>
							<li><a href="/index">Home</a><i class="fa-regular fa-angle-right"></i></li>
							<li>Our Process</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>       
    <!-- Breadcrumb Area End -->
	<!-- Features Area Start -->
	<div class="features__one section-padding">
		<!-- <div class="container">
			<div class="row al-center features__one-bg" data-background="{% static '/img/shape/shape-10.png' %}">
				<div class="col-lg-5 lg-mb-25">
					<div class="features__one-left">
						<h4>Your Trusted Energy Partner</h4>
						<div class="features__one-left-client lg-jc-center dark_image">
							<img src="{% static '/img/avatar/user.png' %}" alt="client-image">
							<h6>12,000+ Customer Reviews</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="features__one-right lg-jc-center">
						<div class="features__one-right-item">
							<div class="features__one-right-item-icon">
								<i class="flaticon-profit"></i>
							</div>
							<div class="features__one-right-item-content">
								<h6>Financial Savings</h6>
								<p>From captivating logos that serve as Brand ambassadors to</p>
							</div>
						</div>
						<div class="features__one-right-item">
							<div class="features__one-right-item-icon">
								<i class="flaticon-best-customer-experience"></i>
							</div>
							<div class="features__one-right-item-content">
								<h6>Well Experienced</h6>
								<p>From captivating logos that serve as Brand ambassadors to</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
    	<div class="choose__us section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="choose__us-area">
						<div class="choose__us-area-title">
							<span class="subtitle-one">We are developing</span>
							<h2>Automatically recycling process</h2>
							<p>We are currently developing advanced automated systems for shredding, granulation, and material separation of tire waste, enhancing efficiency and consistency. Our future plans include implementing real-time monitoring and data analytics for quality control, along with automated packaging and inventory management to optimize the recycling process and scalability.</p>
						</div>
						<div class="choose__us-area-list">
							<div class="choose__us-area-list-item">
								<img src="{% static '/img/icon/image.png' %}" style="width: 50px; height: auto;">
								<div class="choose__us-area-list-item-bottom">
									<h6>Shredding and Granulation</h6>									
								</div>
							</div>
							<div class="choose__us-area-list-item">
								<img src="{% static '/img/icon/processing.png' %}" style="width: 50px; height: auto;">
								<div class="choose__us-area-list-item-bottom">
									<h6>Material Separation</h6>									
								</div>
							</div>
							<div class="choose__us-area-list-item">
								<img src="{% static '/img/icon/recycle.png' %}" style="width: 50px; height: auto;">
								<div class="choose__us-area-list-item-bottom">
									<h6>Processing and Recycling</h6>									
								</div>
							</div>
							<div class="choose__us-area-list-item">
								<img src="{% static '/img/icon/quality-control.png' %}" style="width: 50px; height: auto;">
								<div class="choose__us-area-list-item-bottom">
									<h6>Quality Control</h6>									
								</div>
							</div>
							<div class="choose__us-area-list-item">
								<img src="{% static '/img/icon/box.png' %}" style="width: 50px; height: auto;">
								<div class="choose__us-area-list-item-bottom">
									<h6>Packaging and Distribution</h6>									
								</div>
							</div>
						</div>
						<div class="choose__us-area-bottom">
							<a class="btn-one" href="/about">More details</a>
							<div class="choose__us-area-bottom-tel sm-mt-25">
								<h6>If your have any Questions<br>Feel free to contact <a href="tel:+61401720949"> 401720949</a></h6>
							</div>
						</div>
						<div class="choose__us-area-image dark_image">
							<img src="{% static '/img/pages/factory.jpg' %}" alt="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Features Area End -->
	<!-- Counter Area Start -->
	<!-- <div class="counter__two" data-background="{% static '/img/shape/shape-18.png' %}">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="counter__two-grid">
						<div class="counter__two-item">
							<i class="flaticon-project"></i>
							<h3><span class="counter">1.2</span><b>k</b></h3>
							<p>Project Success</p>
						</div>
						<div class="counter__two-item">
							<i class="flaticon-customer-review"></i>
							<h3><span class="counter">700</span><b>+</b></h3>
							<p>Clients Reviews</p>
						</div>
						<div class="counter__two-item">
							<i class="flaticon-rating"></i>
							<h3><span class="counter">175</span><b>+</b></h3>
							<p>Team Members</p>
						</div>
						<div class="counter__two-item">
							<i class="flaticon-trophy"></i>
							<h3><span class="counter">91</span><b>+</b></h3>
							<p>Winning Awards</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- Counter Area End -->
    <!-- Experience Area Start -->
    <!-- <div class="experience__area section-padding" data-background="{% static '/img/shape/shape-20.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 lg-mb-25">
                    <div class="experience__area-left">
                        <div class="experience__area-left-title">
                            <span class="subtitle-one">Our Experience</span>
                            <h2>Solar Team Experience area</h2>
                            <p>Business, or everyday living, imagine a world where solar success is not just an aspiration but a reality driven by the Rays of the sun. It's a vision where the</p>
                        </div>
						<div class="about__one-right-skill">
							<div class="skill__area-item">
								<div class="skill__area-item-content">
									<h6>Hybrid Energy</h6> 
									<span class="skill__area-item-count"><span class="counter">76</span>%</span>
								</div>
								<div class="skill__area-item-inner">
									<div class="skill__area-item-bar" data-width="76"></div>
								</div>
							</div>
							<div class="skill__area-item">
								<div class="skill__area-item-content">
									<h6>Solar Panel</h6> 
									<span class="skill__area-item-count"><span class="counter">85</span>%</span>
								</div>
								<div class="skill__area-item-inner">
									<div class="skill__area-item-bar" data-width="85"></div>
								</div>
							</div>
							<div class="skill__area-item">
								<div class="skill__area-item-content">
									<h6>Wind Turbines</h6> 
									<span class="skill__area-item-count"><span class="counter">60</span>%</span>
								</div>
								<div class="skill__area-item-inner">
									<div class="skill__area-item-bar" data-width="60"></div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="experience__area-image dark_image">
                        <img src="{% static '/img/pages/experience.jpg' %}" alt="experience">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Experience Area End -->
	<!-- Team Area Start -->
	<div class="team__one section-padding">
		<div class="container">
			<div class="row mb-35">
				<div class="col-xl-12">
					<div class="team__one-title t-center">
						<span class="subtitle-one">Tyre Types We Accept</span>
						<h2>Tyre Types We Accept</h2>
					</div>
				</div>
			</div>
			<div class="row mb-35 dark_image">
				<div class="col-lg-3 col-md-6 lg-mb-35">
					<div class="team__one-item">
						<div class="team__one-item-image">
							<img src="{% static '/img/tyres/passenger_tyre.png' %}" alt="team">
							<div class="team__one-item-image-content">
								<div class="team__one-item-image-icon">
									<span><i class="fas fa-share-alt"></i></span>
									<div class="team__one-item-image-social">
										<ul>
											<li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
											<li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<h6><a href="team-details.html">Passenger tyres</a></h6>
								<span>Passenger tyres</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 md-mb-35">
					<div class="team__one-item">
						<div class="team__one-item-image">
							<img src="{% static '/img/tyres/truck_and_bus_tyre.png' %}" alt="team">
							<div class="team__one-item-image-content">
								<div class="team__one-item-image-icon">
									<span><i class="fas fa-share-alt"></i></span>
									<div class="team__one-item-image-social">
										<ul>
											<li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
											<li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<h6><a href="team-details.html">Truck and bus tyres</a></h6>
								<span>Heating Expert</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 md-mb-35">
					<div class="team__one-item">
						<div class="team__one-item-image">
							<img src="{% static '/img/tyres/off_the_road_tyre.png' %}" alt="team">
							<div class="team__one-item-image-content">
								<div class="team__one-item-image-icon">
									<span><i class="fas fa-share-alt"></i></span>
									<div class="team__one-item-image-social">
										<ul>
											<li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
											<li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<h6><a href="team-details.html">Off The Road Tyres</a></h6>
								<span>Off The Road Tyres</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="team__one-item">
						<div class="team__one-item-image">
							<img src="{% static '/img/tyres/Conveyor_Belt.png' %}" alt="team">
							<div class="team__one-item-image-content">
								<div class="team__one-item-image-icon">
									<span><i class="fas fa-share-alt"></i></span>
									<div class="team__one-item-image-social">
										<ul>
											<li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
											<li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
								</div>
								<h6><a href="team-details.html">Conveyor Belt</a></h6>
								<span>Conveyor Belt</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Team Area End -->
     <!-- Portfolio Area Start -->
	<div class="portfolio__one">
		<div class="container">
			<div class="row al-end mb-60">
				<div class="col-xl-8 lg-mb-25">
					<div class="portfolio__one-title lg-t-center">
						<span class="subtitle-one">How to process</span>
						<h2>Our Tyre Recycling process</h2>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="portfolio__one-btn t-right lg-t-center">
						<!-- <a class="btn-one" href="project-four.html">View All Projects</a> -->
					</div>
				</div>
			</div>
		</div>
		<div class="swiper portfolio_slider_one dark_image">
			<div class="swiper-wrapper">
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/tyre_step.png' %}" alt="portfolio">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step 1</span>
							<h6><a href="project-details.html">Collecting and processing Tyres</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/nylon_step.png' %}" alt="portfolio">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step 2</span>
							<h6><a href="project-details.html">Extracting nylon from tyres</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/black_powder_step.png' %}" alt="portfolio">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step2</span>
							<h6><a href="project-details.html">Extracting powder from tyres</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/shredded_steel.png' %}" alt="portfolio">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step 2</span>
							<h6><a href="project-details.html">Extracting shredded steel from tyres</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/baled_steel.png' %}" alt="portfolio">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step 2</span>
							<h6><a href="project-details.html">Extracting baled steel from tyres</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/storage.png' %}" alt="portfolio">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step3</span>
							<h6><a href="project-details.html">Our 30-mesh crumb rubber production</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
				<div class="portfolio__one-item swiper-slide">
					<div class="portfolio__one-item-image">
						<img src="{% static '/img/portfolio/road_step.webp' %}" alt="portfolio" type="image/webp">
						<div class="portfolio__one-item-image-content">
							<span><i class="fa-regular fa-horizontal-rule"></i>Step 4</span>
							<h6><a href="project-details.html">Our 30-mesh crumb rubber is applied for various surfacing projects.</a></h6>
							<a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio Area End -->
	{% include 'footer.html' %}