{% load static %}
{% include 'header.html' %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb__area" data-background="{% static '/img/pages/banner.webp' %}">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="breadcrumb__area-content">
						<h1>Products</h1>
						<ul>
							<li><a href="/index">Home</a><i class="fa-regular fa-angle-right"></i></li>
							<li>Products</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>          
    <!-- Breadcrumb Area End -->
    <!-- Project Grid Area Start -->
	<div class="portfolio__one section-padding-three">
		<div class="container">
			<div class="row dark_image">
                <div class="col-md-6 mt-25">
                    <div class="portfolio__one-item">
                        <div class="portfolio__one-item-image">
                            <img src="{% static '/img/portfolio/Product1.png' %}" alt="portfolio">
                            <div class="portfolio__one-item-image-content">
                                <span><i class="fa-regular fa-horizontal-rule"></i>Surfacing projects</span>
                                <h6><a href="project-details.html">Road paving</a></h6>
                                <a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-25">
                    <div class="portfolio__one-item">
                        <div class="portfolio__one-item-image">
                            <img src="{% static '/img/portfolio/Product2.png' %}" alt="portfolio">
                            <div class="portfolio__one-item-image-content">
                                <span><i class="fa-regular fa-horizontal-rule"></i>Surfacing projects</span>
                                <h6><a href="project-details.html">Gym Flooring & Paving</a></h6>
                                <a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-25">
                    <div class="portfolio__one-item">
                        <div class="portfolio__one-item-image">
                            <img src="{% static '/img/portfolio/portfolio-3.jpg' %}" alt="portfolio">
                            <div class="portfolio__one-item-image-content">
                                <span><i class="fa-regular fa-horizontal-rule"></i>Solar Radiance</span>
                                <h6><a href="project-details.html">SunSpark Modules</a></h6>
                                <a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-25">
                    <div class="portfolio__one-item">
                        <div class="portfolio__one-item-image">
                            <img src="{% static '/img/portfolio/portfolio-4.jpg' %}" alt="portfolio">
                            <div class="portfolio__one-item-image-content">
                                <span><i class="fa-regular fa-horizontal-rule"></i>Sustainable Suns</span>
                                <h6><a href="project-details.html">EcoHarvest Panels</a></h6>
                                <a href="project-details.html"><i class="fa-sharp fa-regular fa-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="row mt-50">
                <div class="col-xl-12 t-center">
                    <a class="btn-one" href="project-three.html">Load More</a>
                </div>
            </div>
		</div>
	</div>
    <!-- Project Grid Area End -->    
{% include 'footer.html' %}