{% load static %}
{% include 'header.html' %}
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb__area" data-background="{% static '/img/pages/banner.webp' %}">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="breadcrumb__area-content">
						<h1>Blog Content</h1>
						<ul>
							<li><a href="/index">Home</a><i class="fa-regular fa-angle-right"></i></li>
							<li>Blog</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>    
    <!-- Breadcrumb Area End -->
    <!-- Blog Details Area Start -->
    <div class="blog__details section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <div class="all__sidebar mr-25">
                        <div class="all__sidebar-item">
                            <h6>Search Here</h6>
                            <div class="all__sidebar-item-search">
                                <form action="#">
                                    <input type="text" placeholder="Search.....">
                                    <button type="submit"><i class="fal fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="all__sidebar-item">
                            <h6>Our Solutions</h6>
                            <div class="all__sidebar-item-category">
                                <ul>
                                    <li><a href="single-right-sidebar.html">Solar Panel<i class="fa-regular fa-arrow-right"></i></a></li>
                                    <li><a href="single-right-sidebar.html">Hydropower Plants<i class="fa-regular fa-arrow-right"></i></a></li>
                                    <li><a href="single-right-sidebar.html">Wind Turbine<i class="fa-regular fa-arrow-right"></i></a></li>
                                    <li><a href="single-right-sidebar.html">Fossil Resources<i class="fa-regular fa-arrow-right"></i></a></li>
                                    <li><a href="single-right-sidebar.html">Renewable Energy<i class="fa-regular fa-arrow-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="all__sidebar-item">
                            <h6>Recent Blog</h6>
                            <div class="all__sidebar-item-post dark_image">
                                <div class="post__item">
                                    <div class="post__item-image">
                                        <a href="single-right-sidebar.html"><img src="{% static 'img/blog/blog-1.jpg' %}" alt="post-image"></a>
                                    </div>
                                    <div class="post__item-title">
                                        <h6><a href="single-right-sidebar.html">Solar Power for a Cleaner Brighter World.</a></h6>
                                        <span><i class="far fa-calendar-alt"></i>Dec 31, 2024</span>
                                    </div>
                                </div>                           
                                <div class="post__item">
                                    <div class="post__item-image">
                                        <a href="single-right-sidebar.html"><img src="{% static 'img/blog/blog-2.jpg' %}" alt="post-image"></a>
                                    </div>
                                    <div class="post__item-title">
                                        <h6><a href="single-right-sidebar.html">Solar Symphony Harmony in Sustainability</a></h6>
                                        <span><i class="far fa-calendar-alt"></i>Dec 27, 2024</span>
                                    </div>
                                </div>                           
                                <div class="post__item">
                                    <div class="post__item-image">
                                        <a href="single-right-sidebar.html"><img src="{% static 'img/blog/blog-3.jpg' %}" alt="post-image"></a>
                                    </div>
                                    <div class="post__item-title">
                                        <h6><a href="single-right-sidebar.html">Exploring the Bright Future of Solar Energy.</a></h6>
                                        <span><i class="far fa-calendar-alt"></i>Dec 23, 2024</span>
                                    </div>
                                </div>                           
                            </div>
                        </div>
                        <div class="all__sidebar-item">
                            <h6>Popular Tag</h6>
                            <div class="all__sidebar-item-tag">
                                <ul>
                                    <li><a href="blog-grid-three.html">Wind</a></li>
                                    <li><a href="blog-grid-three.html">Solar Panel</a></li>
                                    <li><a href="blog-grid-three.html">Turbine</a></li>
                                    <li><a href="blog-grid-three.html">Energy</a></li>
                                    <li><a href="blog-grid-three.html">Hydro</a></li>
                                    <li><a href="blog-grid-three.html">Renewable</a></li>
                                    <li><a href="blog-grid-three.html">Power</a></li>
                                    <li><a href="blog-grid-three.html">Electricity</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col-xl-8 col-lg-8 lg-mb-50">
                    <div class="blog__details-left dark_image">
						<img class="img__full" src="{% static '/img/blog/blog-1.jpg' %}" alt="blog-details-image">
                        <div class="blog__details-left-meta">
                            <div class="blog__details-left-meta-left">
                                <div class="author">
									<div class="author-avatar">
										<img src="{% static '/img/team/team-3.jpg' %}" alt="avatar">
									</div>
									<div class="author-info">
										<span>Engineer</span>
										<h6>Roberto Ramon</h6>
									</div>
								</div>                                
                            </div>
                            <div class="blog__details-left-meta-content">
                                <span>Date :</span>
                                <h6>January 20, 2024</h6>
                            </div>
                            <div class="blog__details-left-meta-content">
                                <span>Category</span>
                                <h6>Solar Panel</h6>
                            </div>
                        </div>
						<h3 class="mb-20">Solar Waves Green Energy Saves</h3>
                        <p>Discover the latest innovations in solar technology that are driving a wave of positive change across the globe. From photovoltaic advancements to smart grid integration, we delve into the cutting-edge solutions that make solar energy an increasingly viable and accessible option. Learn how solar power not only reduces our dependence on traditional energy sources but also,</p>                  
                        <p>Our blog goes beyond the technical aspects, offering insights into the economic and societal impact of widespread solar adoption. Explore success stories, case studies, and real-world applications that showcase how solar energy is not just an eco-friendly choice but a practical and economically sound investment.</p>
                        <div class="blog__details-left-box">
                            <i class="flaticon-straight-quotes"></i>
                            <div>
                                <h5>Design is a comprehensive approach to creating digital products that are both visually</h5>                                
                                <span>Kristin Watson</span>
                            </div>
                        </div>
                        <h4 class="mb-20">Sunrise Choices Solar Voices</h4>
                        <p>Embark on a journey through the sunrise of possibilities as we delve into sustainable practices, energy-efficient technologies, and the myriad choices available to individuals and businesses seeking a greener path. From residential solar installations to large-scale solar farms, our blog sheds light on the diverse ways solar energy is making its mark on the world.</p>
                        <div class="row mt-35 mb-30">
                            <img class="img__full" src="{% static 'img/blog/blog-d-1.jpg' %}" alt="blog-image">
                        </div>
                        <p>Discover the voices advocating for solar solutions – from industry experts and environmental enthusiasts to the communities benefitting from solar initiatives. We share stories that inspire change, emphasizing the importance of collective voices in shaping a sustainable future.</p>
                        <p>Join us on a journey through the sunrise of possibilities as we explore the various choices available in the realm of solar energy. From residential solar solutions to innovative technologies,</p>
                        <div class="blog__details-left-tag">
                            <h6>Related Tags :</h6>
                            <div class="all__sidebar-item-tag">
                                <ul>
                                    <li><a href="blog-grid-three.html">Turbine</a></li>
                                    <li><a href="blog-grid-three.html">Energy</a></li>
                                    <li><a href="blog-grid-three.html">Hydro</a></li>
                                    <li><a href="blog-grid-three.html">Renewable</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog__details-left-author">
                            <div class="blog__details-left-author-image">
                                <img src="{% static 'img/avatar/avatar-6.jpg' %}" alt="avatar">
                            </div>
                            <div class="blog__details-left-author-content">
                                <h6>Joshua Harvey</h6>
                                <p>Starting a product design from scratch is an iterative process that may involve multiple cycles of design, testing, and refinement to achieve the best possible user experience and product</p>
                                <div class="social__icon">
                                    <ul>
                                        <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                                        <li><a href="https://behance.net" target="_blank"><i class="fab fa-behance"></i></a></li>
                                        <li><a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- blog Comment-->
                        <!-- <div class="blog__details-left-comment mt-60">
							<h5 class="mb-30">Comments (2)</h5>
							<div class="blog__details-left-comment-item">
								<div class="blog__details-left-comment-item-comment">
									<div class="blog__details-left-comment-item-comment-image">
										<img src="assets/img/avatar/avatar-1.jpg" alt="avaatar-image">									
									</div>									
									<div class="blog__details-left-comment-item-comment-content">
										<h6>Guy Hawkins<a href="single-right-sidebar.html"><i class="far fa-reply-all"></i>Reply</a></h6>
										<span>20 Dec, 2024  At 9:PM</span>
                                        <p>Pellentesque a placerat orci. Suspendisse rutrum lacus ipsum, eu vulputate augue blandit mollis.</p>
                                    </div>
								</div>
							</div>
							<div class="blog__details-left-comment-item ml-65 sm-ml-0">
								<div class="blog__details-left-comment-item-comment">
									<div class="blog__details-left-comment-item-comment-image">
										<img src="assets/img/avatar/avatar-2.jpg" alt="avaatar-image">									
									</div>									
									<div class="blog__details-left-comment-item-comment-content">
										<h6>Kristin Watson<a href="single-right-sidebar.html"><i class="far fa-reply-all"></i>Reply</a></h6>
										<span>22 Dec, 2024  At 7:PM</span>
                                        <p>Pellentesque a placerat orci. Suspendisse rutrum lacus ipsum, eu vulputate augue blandit mollis.</p>
									</div>
								</div>
							</div>
						</div> -->
                        <!-- blog Post Form-->
                        <!-- <div class="blog__details-left-contact mt-60">
							<h5>Post Comment</h5>
                            <p class="mb-30">Your email address will not be published. Required fields are marked</p>
                            <div class="blog__details-left-contact-form">
                                <form action="#">	
                                    <div class="row">
                                        <div class="col-sm-6 mb-30"> 
                                            <div class="blog__details-left-contact-form-item contact-item">                                                
                                                <input type="text" name="name" placeholder="Full Name" required="required">
                                            </div>										
                                        </div>
                                        <div class="col-sm-6 sm-mb-30">
                                            <div class="blog__details-left-contact-form-item contact-item">                                                
                                                <input type="text" name="email" placeholder="Email Address" required="required">											
                                            </div>									
                                        </div>
                                        <div class="col-sm-12 mb-30"> 
                                            <div class="blog__details-left-contact-form-item contact-item">                                                
                                                <input type="text" placeholder="Subject" required="required">
                                            </div>										
                                        </div>
                                        <div class="col-sm-12 mb-30"> 
                                            <div class="blog__details-left-contact-form-item contact-item">                                                
                                                <textarea name="message" placeholder="Type your comments...."></textarea>
                                            </div>										
                                        </div>
                                        <div class="col-lg-12">										
                                            <div class="blog__details-left-contact-form-item">
                                                <button class="btn-one" type="submit">Submit Comment</button>
                                            </div>										
                                        </div>
                                    </div>							
                                </form>	
                            </div>						
						</div>                         -->
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <!-- Blog Details Area End -->
{% include 'footer.html' %}